<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="l2nsoft.com">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHouseKeeping"
        tools:targetApi="31">
        <activity
            android:name=".UploadPdf"
            android:exported="false"
            android:label="PDF Upload" />
        <activity
            android:name=".ViewPdfActivity"
            android:label="Pdf List"
            android:exported="false" />
        <activity
            android:name=".activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Splash"
            android:exported="false" />

        <activity
            android:name=".activity.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Roomlist"
            android:exported="false"
            android:label="RoomList" />
        <activity
            android:name=".activity.WorkListUpdate"
            android:exported="false"
            android:label="Room Wise WorkList" />
        <activity
            android:name=".activity.UpdateWorkList"
            android:exported="false" />
        <activity
            android:name=".activity.WorkList"
            android:exported="false"
            android:label="Work Report" />
        <activity
            android:name=".activity.ImageWork"
            android:label="Work Report" />


        <activity
            android:name=".activity.UpdateActivity"
            android:exported="false"
            android:label="Update" />
        <activity
            android:name=".activity.AddArea"
            android:exported="false"
            android:label="Add Area" />
        <activity
            android:name=".activity.FurnitureActivity"
            android:exported="false"
            android:label="Add Furniture" />
        <activity
            android:name=".activity.RoomActivity"
            android:exported="false"
            android:label="Add Room" />
        <activity
            android:name=".activity.GardenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OfficeActivity"
            android:exported="false"
            android:label="RoomList" />
        <activity
            android:name=".activity.WorkActivity"
            android:exported="false"
            android:label="Work Report" />
        <activity
            android:name=".activity.Register"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".activity.AdminActivity"
            android:exported="false"
            android:label="Admin Panel" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.Second"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>